body{
 background-color:#393e46; 
}
/*navigation bar*/
a.mynav{
    color: #c0e218;
}
a.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    font-weight: 10px;
    text-decoration: dotted;
}
li.nav-item ,.card-title{
    font-family: 'Ramabhadra', sans-serif;
}
/*.w-100 {
    width: 90% !important;
    height: 80vh;
  }
*/
/*carousel*/
img{
    width:455px;
    height:600px;
}
.myslider{
    margin:3% 5%; 
    border-color: darkgray;
}
.carousel .carousel-indicators li {
    width: 10px;
   height: 10px;
   border-radius: 100%;
   background-color: rgb(255, 94, 0);
 }
 /*card*/

 #aboutus,#signup{
     text-align: center;
     border-radius: 10%;
 }
 .firstcard{
     margin-bottom: 5%;
    
 }
 .contacts{
     background: wheat;
 }
 .fab{
     color: blue;
     font-size: 50px;

 }
 i{
     text-shadow: rgb(0, 35, 100);
 }
 }
 h3{
     color: cornsilk;
 }
